
{% extends 'template.html.twig' %}

{% block title %} s'inscrire!{% endblock %}

{% block body %}

    <div class="container">

        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }} mt-10">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
        <h4><span class="glyphicon glyphicon-plus"></span> Remplir ce formulaire</h4>
        {{ form(form) }}
    </div>


{% endblock %}
